Source: puppet-module-herculesteam-augeasproviders-pam
Section: admin
Priority: optional
Maintainer: Scibian Project <legal@scibian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://forge.puppet.com/herculesteam/augeasproviders_pam
Vcs-Git: https://github.com/scibian/puppet-module-herculesteam-augeasproviders-pam.git
Vcs-Browser: https://github.com/scibian/puppet-module-herculesteam-augeasproviders-pam

Package: puppet-module-herculesteam-augeasproviders-pam
Architecture: all
Depends: puppet-common | puppet4,
         puppet-module-herculesteam-augeasproviders-core,
         ${misc:Depends}
Description: Puppet module augeasproviders_pam
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 This is a puppet module to provide pam lenses for augeas in puppet.
